# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Secrets / credentials (if generated locally for testing)
secrets/
*.pem
*.key

# weight react frontend
/weight/app/frontend/node_modules
/weight/app/frontend/.vite